.footer__landing {
    padding: 3rem;
    font-size: 1.4rem;

    background-image: url(../../img/word_map.png);
    background-position: 50% 50%;
    background-size: auto 100%;
    background-repeat: no-repeat;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 5rem;
    justify-content: space-around;

    @media only screen and (max-width: $bp-xsmall) {
        grid-template-columns: 1fr;
        justify-content: center;
    }
    
    &--column {
        @media only screen and (max-width: $bp-xsmall) {
            width: 70%;
            margin: 0 auto;
        }

        &-heading {
            font-size: 2rem;
            font-weight: 500;

            &-contact {
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 3px;
                    width: 8rem;
                    background-color: $color-complement-dark-1;
                }
            }
        }

        &-list {
            list-style: none;
        }

        &-link {
            &,
            &:link,
            &:visited {
                color: $color-secondary-dark-1;
                text-decoration: none;
                transition: color 0.2s;
            }

            &:hover {
                color: $color-secondary;
            }
        }

        &-contact { 
            display: flex;
            flex-direction: column;

            &--row {
                display: flex;
                align-items: center;

                & > a {
                    text-decoration: none;
                    font-style: normal;

                    &:link,
                    &:visited {
                        color: $color-secondary-dark-1;
                        transition: color 0.2s;
                    }

                    &:hover {
                        color: $color-secondary;
                    }
                }
            }

            &--icon {
                height: 1.5rem;
                width: 1.5rem;
                margin-right: 0.5rem;
            }
        }
    }

}

.footer__copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: min-content;

    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
    }

    &--text {
        text-align: center;

        @media only screen and (max-width: $bp-small) {
            margin-bottom: 1rem;
        }
    }

    padding: 1rem;
    font-size: 1.6rem;
    border-top: 1px solid rgba($color-black, 0.25);

    &--items {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media only screen and (max-width: $bp-small) {
            flex-direction: column;
        }
    }

    &--item {
        text-align: center;
        padding: 0 1rem;
        &:not(:last-child) {
            border-right: 1px solid rgba($color-black, 0.25);

            @media only screen and (max-width: $bp-small) {
                border-right: none;
            }
        }
    }

    &--link {
        &,
        &:link,
        &:visited {
            color: $color-secondary-dark-1;
            text-decoration: none;
            transition: color 0.2s;
        }

        &:hover {
            color: $color-secondary;
        }
    }
}